## Import

In [2]:
import pandas as pd

## Read NB

In [4]:
Daily_NB = pd.read_csv('Daily_oo_NB_Indian_Equities_Overlapped_20140101_20190516 (1).csv')
map_ticker = pd.read_csv('smc_ticker_map_overlapped_tickers.csv')

In [5]:
Daily_NB.head()

,entity_ticker,entity_name,date_oo_ist,entity_share_class_figi,story_group_sentiment_avg_sum,story_group_sentiment_avg_mean,story_group_sentiment_avg_min,story_group_sentiment_avg_max,story_group_sentiment_avg_std,story_group_sentiment_avg_kurtosis,...,event_sentiment_std,event_sentiment_kurtosis,event_sentiment_skew,story_group_count_sum,story_group_count_mean,story_group_count_min,story_group_count_max,story_group_count_std,story_group_count_kurtosis,story_group_count_skew
0,3M,3M INDIA LTD,2014-01-01,BBG001S82ZF3,81.3,16.260000,0.0,81.3,36.358465,0.250000,...,36.358465,0.250000,1.500000,11,2.200000,1,4,1.303840,-1.371972,0.363173
1,ACEM,AMBUJA CEMENTS LTD,2014-01-01,BBG001S83F93,0.0,0.000000,0.0,0.0,NaN,-3.000000,...,NaN,-3.000000,0.000000,1,1.000000,1,1,NaN,-3.000000,0.000000
2,ADANI,ADANI POWER LTD,2014-01-01,BBG001T2N7D6,60.2,60.200000,60.2,60.2,NaN,-3.000000,...,NaN,-3.000000,0.000000,1,1.000000,1,1,NaN,-3.000000,0.000000
3,ADE,ADANI ENTERPRISES LTD,2014-01-01,BBG001S8CL72,118.6,59.300000,58.4,60.2,1.272792,-2.000000,...,53.033009,-2.000000,0.000000,2,1.000000,1,1,0.000000,-3.000000,0.000000
4,APTY,APOLLO TYRES LTD,2014-01-01,BBG001S82SJ5,-1380.5,-60.021739,-87.6,41.2,40.064686,0.046507,...,40.135530,0.543992,1.359106,128,5.565217,1,15,4.934352,-1.131186,0.580490

In [6]:
map_ticker.head()

,bloomberg_ticker,entity_name,entity_share_class_figi,nse_ticker,smc_ticker,hourly_price_acquired,daily_price_acquired
0,3M,3M INDIA Limited,BBG001S82ZF3,3MINDIA,3MINDIAEQ,NaN,NaN
1,ABCAP,ADITYA BIRLA CAPITAL Limited,BBG00BKN6FS2,ABCAPITAL,ABCAPITALEQ,NaN,NaN
2,ACEM,AMBUJA CEMENTS Limited,BBG001S83F93,AMBUJACEM,AMBUJACEMEQ,True,True
3,ADANI,ADANI POWER Limited,BBG001T2N7D6,ADANIPOWER,ADANIPOWEREQ,True,True
4,ADANIT,ADANI TRANSMISSION Limited,BBG008396QF9,ADANITRANS,ADANITRANSEQ,NaN,NaN

In [295]:
# Extract two columns from the map_ticker
map_ticker = map_ticker[['bloomberg_ticker','nse_ticker']]

In [296]:
# Merge the two tables by using "entity_ticker" and "bloomberg_ticker". 
final_oo_nb= Daily_NB.merge(map_ticker, how="left", left_on="entity_ticker", right_on="bloomberg_ticker")

In [297]:
final_oo_nb=final_oo_nb[['nse_ticker','entity_ticker' ,'entity_name', 'date_oo_ist',
       'entity_share_class_figi', 'story_group_sentiment_avg_sum',
       'story_group_sentiment_avg_mean', 'story_group_sentiment_avg_min',
       'story_group_sentiment_avg_max', 'story_group_sentiment_avg_std',
       'story_group_sentiment_avg_kurtosis', 'story_group_sentiment_avg_skew',
       'story_group_sentiment_stdev_sum', 'story_group_sentiment_stdev_mean',
       'story_group_sentiment_stdev_min', 'story_group_sentiment_stdev_max',
       'story_group_sentiment_stdev_std',
       'story_group_sentiment_stdev_kurtosis',
       'story_group_sentiment_stdev_skew', 'story_sentiment_sum',
       'story_sentiment_mean', 'story_sentiment_min', 'story_sentiment_max',
       'story_sentiment_std', 'story_sentiment_kurtosis',
       'story_sentiment_skew', 'entity_relevance_sum', 'entity_relevance_mean',
       'entity_relevance_min', 'entity_relevance_max', 'entity_relevance_std',
       'entity_relevance_kurtosis', 'entity_relevance_skew',
       'entity_sentiment_sum', 'entity_sentiment_mean', 'entity_sentiment_min',
       'entity_sentiment_max', 'entity_sentiment_std',
       'entity_sentiment_kurtosis', 'entity_sentiment_skew',
       'event_relevance_sum', 'event_relevance_mean', 'event_relevance_min',
       'event_relevance_max', 'event_relevance_std',
       'event_relevance_kurtosis', 'event_relevance_skew',
       'event_sentiment_sum', 'event_sentiment_mean', 'event_sentiment_min',
       'event_sentiment_max', 'event_sentiment_std',
       'event_sentiment_kurtosis', 'event_sentiment_skew',
       'story_group_count_sum', 'story_group_count_mean',
       'story_group_count_min', 'story_group_count_max',
       'story_group_count_std', 'story_group_count_kurtosis',
       'story_group_count_skew', 'bloomberg_ticker']]

In [298]:
# The bloomberg tickers which don't canonot map to nse_ticker because no corresponding nse_ticker in the "smc_ticker_map_overlapped_tickers.csv"
final_oo_nb[final_oo_nb.nse_ticker.isnull()].entity_ticker.unique()

array([], dtype=object)

In [299]:
final_oo_nb.nse_ticker.isnull().sum()

0

In [309]:
final_oo_nb.to_csv('final_oo_nb.csv',index=False)

## Read DJ

In [300]:
Daily_DJ = pd.read_csv('Daily_oo_DJ_Indian_Equities_Overlapped_20140101_20190516 (1).csv')

In [301]:
Daily_DJ.head()

,entity_ticker,entity_name,date_oo_ist,entity_share_class_figi,story_group_sentiment_avg_sum,story_group_sentiment_avg_mean,story_group_sentiment_avg_min,story_group_sentiment_avg_max,story_group_sentiment_avg_std,story_group_sentiment_avg_kurtosis,...,event_sentiment_std,event_sentiment_kurtosis,event_sentiment_skew,story_group_count_sum,story_group_count_mean,story_group_count_min,story_group_count_max,story_group_count_std,story_group_count_kurtosis,story_group_count_skew
0,OFSS,ORACLE FINANCIAL SERVICES,2014-01-01,BBG001SKSRM8,6.3,6.3,6.3,6.3,NaN,-3.0,...,NaN,-3.0,0.0,1,1.0,1,1,NaN,-3.0,0.0
1,ADANI,ADANI POWER LTD,2014-01-02,BBG001T2N7D6,-17.0,-17.0,-17.0,-17.0,NaN,-3.0,...,NaN,-3.0,0.0,6,6.0,6,6,NaN,-3.0,0.0
2,ADE,ADANI ENTERPRISES LTD,2014-01-02,BBG001S8CL72,-36.6,-18.3,-19.6,-17.0,1.838478,-2.0,...,0.000000,-3.0,0.0,9,4.5,3,6,2.12132,-2.0,0.0
3,ADSEZ,ADANI PORTS AND SPECIAL ECON,2014-01-02,BBG001SPYP53,-17.0,-17.0,-17.0,-17.0,NaN,-3.0,...,NaN,-3.0,0.0,6,6.0,6,6,NaN,-3.0,0.0
4,AL,ASHOK LEYLAND LTD,2014-01-02,BBG001S82TN8,-69.0,-34.5,-34.5,-34.5,0.000000,-3.0,...,53.033009,-2.0,0.0,6,3.0,3,3,0.00000,-3.0,0.0

## Merge two tables

In [302]:
#merge the Daily_DJ and the mapping_ticker
final_oo_dj= Daily_DJ.merge(map_ticker, how="left", left_on="entity_ticker", right_on="bloomberg_ticker")

In [303]:
final_oo_dj.columns

Index(['entity_ticker', 'entity_name', 'date_oo_ist',
       'entity_share_class_figi', 'story_group_sentiment_avg_sum',
       'story_group_sentiment_avg_mean', 'story_group_sentiment_avg_min',
       'story_group_sentiment_avg_max', 'story_group_sentiment_avg_std',
       'story_group_sentiment_avg_kurtosis', 'story_group_sentiment_avg_skew',
       'story_group_sentiment_stdev_sum', 'story_group_sentiment_stdev_mean',
       'story_group_sentiment_stdev_min', 'story_group_sentiment_stdev_max',
       'story_group_sentiment_stdev_std',
       'story_group_sentiment_stdev_kurtosis',
       'story_group_sentiment_stdev_skew', 'story_sentiment_sum',
       'story_sentiment_mean', 'story_sentiment_min', 'story_sentiment_max',
       'story_sentiment_std', 'story_sentiment_kurtosis',
       'story_sentiment_skew', 'entity_relevance_sum', 'entity_relevance_mean',
       'entity_relevance_min', 'entity_relevance_max', 'entity_relevance_std',
       'entity_relevance_kurtosis', 'entity_relevance_skew',
       'entity_sentiment_sum', 'entity_sentiment_mean', 'entity_sentiment_min',
       'entity_sentiment_max', 'entity_sentiment_std',
       'entity_sentiment_kurtosis', 'entity_sentiment_skew',
       'event_relevance_sum', 'event_relevance_mean', 'event_relevance_min',
       'event_relevance_max', 'event_relevance_std',
       'event_relevance_kurtosis', 'event_relevance_skew',
       'event_sentiment_sum', 'event_sentiment_mean', 'event_sentiment_min',
       'event_sentiment_max', 'event_sentiment_std',
       'event_sentiment_kurtosis', 'event_sentiment_skew',
       'story_group_count_sum', 'story_group_count_mean',
       'story_group_count_min', 'story_group_count_max',
       'story_group_count_std', 'story_group_count_kurtosis',
       'story_group_count_skew', 'bloomberg_ticker', 'nse_ticker'],
      dtype='object')

In [304]:
#change the order of the columns of the new table
final_oo_dj=final_oo_dj[['nse_ticker','entity_ticker', 'entity_name', 'date_oo_ist',
       'entity_share_class_figi', 'story_group_sentiment_avg_sum',
       'story_group_sentiment_avg_mean', 'story_group_sentiment_avg_min',
       'story_group_sentiment_avg_max', 'story_group_sentiment_avg_std',
       'story_group_sentiment_avg_kurtosis', 'story_group_sentiment_avg_skew',
       'story_group_sentiment_stdev_sum', 'story_group_sentiment_stdev_mean',
       'story_group_sentiment_stdev_min', 'story_group_sentiment_stdev_max',
       'story_group_sentiment_stdev_std',
       'story_group_sentiment_stdev_kurtosis',
       'story_group_sentiment_stdev_skew', 'story_sentiment_sum',
       'story_sentiment_mean', 'story_sentiment_min', 'story_sentiment_max',
       'story_sentiment_std', 'story_sentiment_kurtosis',
       'story_sentiment_skew', 'entity_relevance_sum', 'entity_relevance_mean',
       'entity_relevance_min', 'entity_relevance_max', 'entity_relevance_std',
       'entity_relevance_kurtosis', 'entity_relevance_skew',
       'entity_sentiment_sum', 'entity_sentiment_mean', 'entity_sentiment_min',
       'entity_sentiment_max', 'entity_sentiment_std',
       'entity_sentiment_kurtosis', 'entity_sentiment_skew',
       'event_relevance_sum', 'event_relevance_mean', 'event_relevance_min',
       'event_relevance_max', 'event_relevance_std',
       'event_relevance_kurtosis', 'event_relevance_skew',
       'event_sentiment_sum', 'event_sentiment_mean', 'event_sentiment_min',
       'event_sentiment_max', 'event_sentiment_std',
       'event_sentiment_kurtosis', 'event_sentiment_skew',
       'story_group_count_sum', 'story_group_count_mean',
       'story_group_count_min', 'story_group_count_max',
       'story_group_count_std', 'story_group_count_kurtosis',
       'story_group_count_skew', 'bloomberg_ticker']]

In [307]:
final_oo_dj[final_oo_dj.nse_ticker.isnull()].entity_ticker.unique()

array([], dtype=object)

In [308]:
final_oo_dj.nse_ticker.isnull().sum()

0

In [306]:
final_oo_dj.to_csv('final_oo_dj.csv',index=False)