# Objectives

- Use gold price as target variable and collect various and different factors as features to predict gold price

# Import

In [3]:
import pandas as pd
from datetime import datetime

# Read Data

## Gold Price Data
1. Download gold price data from https://www.gold.org/goldhub/data/gold-prices in `xlsx` format
2. Select monthly avergage gold price data in USD and save as **`PRICE-MONTHLY.csv`**

In [4]:
price = pd.read_csv('PRICE-MONTHLY.csv', parse_dates=['DATE'])

# create YearMonth column to easily merge data
price['YearMonth'] = price['DATE'].map(lambda x: 100*x.year + x.month)
price.head()

        DATE  PRICE  YearMonth
0 1978-12-31  207.8     197812
1 1979-01-31  227.3     197901
2 1979-02-28  245.7     197902
3 1979-03-30  242.1     197903
4 1979-04-30  239.2     197904

In [7]:
# quick check the null values
price.isnull().sum()

DATE         0
PRICE        0
YearMonth    0
dtype: int64

In [15]:
# quick check the strat and end date of data
display(price['DATE'].min())
price['DATE'].max()

Timestamp('1978-12-31 00:00:00')

Timestamp('2019-09-30 00:00:00')

## Nominal Effective Exchange Rate Data
1. Download nominal effective exchange rate data from https://www.bis.org/statistics/eer.htm in `csv` format
2. Select daily US nominal effective exchange monthly and save as **`NEER.csv`**

In [8]:
neer = pd.read_csv('NEER.csv',parse_dates=['DATE'])

# transform daily neer data to monthly data
neer_monthly = neer.resample('M', on='DATE').mean().reset_index()

# create YearMonth column to easily merge data
neer_monthly['YearMonth'] = neer_monthly['DATE'].map(lambda x: 100*x.year + x.month)
neer_monthly.head()

        DATE        NEER  YearMonth
0 1983-10-31  152.060952     198310
1 1983-11-30  153.582273     198311
2 1983-12-31  155.408636     198312
3 1984-01-31  156.589545     198401
4 1984-02-29  154.926667     198402

In [18]:
# quick check the null values
neer_monthly.isnull().sum()

DATE         0
NEER         0
YearMonth    0
dtype: int64

In [16]:
# quick check the strat and end date of data
display(neer['DATE'].min())
neer['DATE'].max()

Timestamp('1983-10-03 00:00:00')

Timestamp('2019-09-30 00:00:00')

## Effective Federal Funds Rate Data
1. Download monthly effective federal funds rate data from https://fred.stlouisfed.org/series/FEDFUNDS and save as **`FFR-MONTHLY.csv`**

In [11]:
ffr = pd.read_csv('FFR-MONTHLY.csv', parse_dates=['DATE'])
# create YearMonth column to easily merge data
ffr['YearMonth'] = ffr['DATE'].map(lambda x: 100*x.year + x.month)
ffr.head()

        DATE  FEDFUNDS  YearMonth
0 1954-07-01      0.80     195407
1 1954-08-01      1.22     195408
2 1954-09-01      1.06     195409
3 1954-10-01      0.85     195410
4 1954-11-01      0.83     195411

In [12]:
# quick check the null values
ffr.isnull().sum()

DATE         0
FEDFUNDS     0
YearMonth    0
dtype: int64

In [19]:
# quick check the strat and end date of data
display(ffr['DATE'].min())
ffr['DATE'].max()

Timestamp('1954-07-01 00:00:00')

Timestamp('2019-09-01 00:00:00')

## Consumer Price Index Data
1. Download consumer price index data from https://fred.stlouisfed.org/series/CPIAUCSL and save as **`CPI-MONTHLY.csv`**

In [21]:
cpi = pd.read_csv('CPI-MONTHLY.csv', parse_dates=['DATE'])
# create YearMonth column to easily merge data
cpi['YearMonth'] = cpi['DATE'].map(lambda x: 100*x.year + x.month)
cpi.head()

        DATE  CPIHOSNS  YearMonth
0 1967-01-01      30.5     196701
1 1967-02-01      30.5     196702
2 1967-03-01      30.5     196703
3 1967-04-01      30.6     196704
4 1967-05-01      30.7     196705

In [22]:
# quick check the null values
cpi.isnull().sum()

DATE         0
CPIHOSNS     0
YearMonth    0
dtype: int64

In [23]:
# quick check the strat and end date of data
display(cpi['DATE'].min())
cpi['DATE'].max()

Timestamp('1967-01-01 00:00:00')

Timestamp('2019-08-01 00:00:00')

## Dow Jones Industrial Average Data
1. Download Dow Jones industrial average data from https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI and save as **`DJIA-MONTHLY.csv`**

In [33]:
djia = pd.read_csv('DJIA-MONTHLY.csv', parse_dates=['Date'])
# create YearMonth column to easily merge data
djia['YearMonth'] = dfi['Date'].map(lambda x: 100*x.year + x.month)
djia.head()

,Date,Open,High,Low,Close,Adj Close,Volume,YearMonth
0,1985-01-01,1277.719971,1305.099976,1266.890015,1286.770020,1286.770020,44450000,198501
1,1985-02-01,1276.939941,1307.530029,1263.910034,1284.010010,1284.010010,207300000,198502
2,1985-03-01,1285.339966,1309.959961,1242.819946,1266.780029,1266.780029,201050000,198503
3,1985-04-01,1264.800049,1290.300049,1245.800049,1258.060059,1258.060059,187110000,198504
4,1985-05-01,1257.180054,1320.790039,1235.530029,1315.410034,1315.410034,242250000,198505

In [31]:
# quick check the null values
djia.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
YearMonth    0
dtype: int64

In [32]:
# quick check the strat and end date of data
display(djia['Date'].min())
djia['Date'].max()

Timestamp('1985-01-01 00:00:00')

Timestamp('2019-10-01 00:00:00')

## World Offical Gold Reserve Data
1. Download world offical gold reserve data from https://www.gold.org/goldhub/data/monthly-central-bank-statistics in `xlsx` format
2. Select quarterly wold gold reserve in toones and save as **`WGR-QUARTERLY.csv`**

In [36]:
wgr = pd.read_csv('WGR-QUARTERLY.csv', parse_dates=['DATE'])
wgr.head()

      DATE  VOLUME
0  Q1 2000  33,444
1  Q2 2000  33,267
2  Q3 2000  33,310
3  Q4 2000  33,212
4  Q1 2001  33,065

In [37]:
# quick check the null values
wgr.isnull().sum()

DATE      0
VOLUME    0
dtype: int64

In [38]:
# quick check the strat and end date of data
display(wgr['DATE'].min())
wgr['DATE'].max()

'Q1 2000'

'Q4 2018'

In [56]:
# merge 5 datasets except world offical gold reserve dataset
final_merge = price.merge(neer_monthly,how='inner',on='YearMonth').merge(ffr, how='inner', on='YearMonth').merge(cpi, how='inner', on='YearMonth').merge(djia, how='inner', on='YearMonth')

In [57]:
# drop duplicated columns
final_drop = final_merge.drop(columns=['DATE_y', 'DATE_x'])
final_drop.columns

Index(['PRICE', 'YearMonth', 'NEER', 'FEDFUNDS', 'CPIHOSNS', 'Date', 'Open',
       'High', 'Low', 'Close', 'Adj Close', 'Volume'],
      dtype='object')

In [58]:
# rename columns
final_drop.columns = ['gold_price', 'year_month','nominal_effective_exchange_rate',' effective_federal_funds_rate','cpi_index','date','djia_open','djia_high',
                     'djia_low','djia_close','djia_adj_close','djia_volume']

final = final_drop.set_index('date').reset_index()
final

,date,gold_price,year_month,nominal_effective_exchange_rate,effective_federal_funds_rate,cpi_index,djia_open,djia_high,djia_low,djia_close,djia_adj_close,djia_volume
0,1985-01-01,302.8,198501,171.491304,8.35,105.300,1277.719971,1305.099976,1266.890015,1286.770020,1286.770020,44450000
1,1985-02-01,299.1,198502,176.187000,8.50,105.800,1276.939941,1307.530029,1263.910034,1284.010010,1284.010010,207300000
2,1985-03-01,303.9,198503,177.040476,8.58,106.100,1285.339966,1309.959961,1242.819946,1266.780029,1266.780029,201050000
3,1985-04-01,325.3,198504,170.949545,8.27,106.500,1264.800049,1290.300049,1245.800049,1258.060059,1258.060059,187110000
4,1985-05-01,316.4,198505,171.393913,7.97,107.300,1257.180054,1320.790039,1235.530029,1315.410034,1315.410034,242250000
5,1985-06-01,316.5,198506,169.692500,7.53,107.900,1321.239990,1341.170044,1285.390015,1335.459961,1335.459961,205340000
6,1985-07-01,317.2,198507,164.653478,7.88,108.300,1334.010010,1372.199951,1313.400024,1347.449951,1347.449951,235130000
7,1985-08-01,329.8,198508,162.478182,7.90,108.700,1350.020020,1361.900024,1303.650024,1334.010010,1334.010010,176010000
8,1985-09-01,323.4,198509,163.872857,7.92,108.900,1333.670044,1348.229980,1283.709961,1328.630005,1328.630005,196960000
9,1985-10-01,325.8,198510,156.121304,7.99,109.100,1329.640015,1384.630005,1315.189941,1374.310059,1374.310059,253060000
10,1985-11-01,325.3,198511,153.444286,8.05,109.300,1372.130005,1486.930054,1367.780029,1472.130005,1472.130005,303580000
11,1985-12-01,321.9,198512,152.637727,8.27,109.600,1471.329956,1570.869995,1450.339966,1546.670044,1546.670044,361820000
12,1986-01-01,345.4,198601,151.536087,8.14,109.900,1546.219971,1582.910034,1491.739990,1570.989990,1570.989990,311020000
13,1986-02-01,338.9,198602,146.601500,7.86,109.800,1570.530029,1732.569946,1564.329956,1709.060059,1709.060059,336860000
14,1986-03-01,345.7,198603,143.957619,7.48,109.900,1706.189941,1849.739990,1663.069946,1818.609985,1818.609985,355900000
15,1986-04-01,340.4,198604,142.801364,6.99,110.200,1822.079956,1870.160034,1712.520020,1783.979980,1783.979980,441280000
16,1986-05-01,342.4,198605,139.953636,6.85,110.400,1777.900024,1898.219971,1746.530029,1876.709961,1876.709961,299610000
17,1986-06-01,342.7,198606,140.780952,6.92,111.200,1874.189941,1908.619995,1816.069946,1892.719971,1892.719971,264770000
18,1986-07-01,348.3,198607,137.523913,6.56,111.300,1889.760010,1922.670044,1741.560059,1775.310059,1775.310059,341490000
19,1986-08-01,376.6,198608,135.421429,6.17,111.600,1775.310059,1918.589966,1730.599976,1898.339966,1898.339966,297880000
20,1986-09-01,417.7,198609,135.217273,5.89,112.000,1903.260010,1933.349976,1732.989990,1767.579956,1767.579956,401220000
21,1986-10-01,423.5,198610,135.261304,5.85,111.800,1775.030029,1894.689941,1761.250000,1877.709961,1877.709961,399830000
22,1986-11-01,397.6,198611,137.057000,6.04,111.400,1880.619995,1926.459961,1797.099976,1914.229980,1914.229980,365620000
23,1986-12-01,390.9,198612,135.937826,6.91,111.500,1900.170044,1971.739990,1880.479980,1895.949951,1895.949951,404320000
24,1987-01-01,408.3,198701,131.047727,6.43,112.000,1900.589966,2214.570068,1897.359985,2158.040039,2158.040039,536660000
25,1987-02-01,401.1,198702,129.241000,6.10,112.400,2152.979980,2266.449951,2134.419922,2223.989990,2223.989990,428960000
26,1987-03-01,408.9,198703,127.896364,6.13,112.800,2228.209961,2399.570068,2209.080078,2304.689941,2304.689941,440920000
27,1987-04-01,438.4,198704,124.995455,6.37,113.200,2277.129883,2428.409912,2180.540039,2286.360107,2286.360107,561360000
28,1987-05-01,460.2,198705,123.840000,6.85,113.600,2282.239990,2380.770020,2188.530029,2291.570068,2291.570068,476490000
29,1987-06-01,449.6,198706,125.109091,6.73,114.300,2309.620117,2466.040039,2260.620117,2418.530029,2418.530029,422990000
...,...,...,...,...,...,...,...,...,...,...,...,...
386,2017-03-01,"1,231.10",201703,121.345652,0.79,248.978,20957.289063,21169.109375,20412.800781,20663.220703,20663.220703,6941970000
387,2017-04-01,"1,265.60",201704,120.646500,0.90,249.514,20665.169922,21070.900391,20379.550781,20940.509766,20940.509766,5392630000
388,2017-05-01,"1,245.00",201705,119.707826,0.91,250.376,20962.730469,21112.320313,20553.449219,21008.650391,21008.650391,6613570000
389,2017-06-01,"1,260.30",201706,118.226364,1.04,251.629,21030.550781,21535.029297,20994.220703,21349.630859,21349.630859,7214590000
390,2017-07-01,"1,236.20",201707,115.971429,1.15,251.870,21392.300781,21929.800781,21279.300781,21891.119141,21891.119141,5569720000
391,2017-08-01,"1,282.30",201708,114.226522,1.16,252.615,21961.419922,22179.109375,21600.339844,21948.099609,21948.099609,6150060000
392,2017-09-01,"1,315.00",201709,113.030476,1.15,252.984,21981.769531,22419.509766,21709.630859,22405.089844,22405.089844,6342130000
393,2017-10-01,"1,279.50",201710,114.796818,1.15,253.125,22423.470703,23485.250000,22416.000000,23377.240234,23377.240234,7302910000
394,2017-11-01,"1,282.30",201711,115.022273,1.16,253.177,23442.900391,24327.820313,23242.750000,24272.349609,24272.349609,7335640000
395,2017-12-01,"1,261.30",201712,114.406667,1.30,253.845,24305.400391,24876.070313,23921.900391,24719.220703,24719.220703,6589890000
396,2018-01-01,"1,331.70",201801,111.575217,1.41,254.857,24809.349609,26616.710938,24741.699219,26149.390625,26149.390625,9116920000
397,2018-02-01,"1,331.50",201802,110.796500,1.42,255.713,26083.039063,26306.699219,23360.289063,25029.199219,25029.199219,9450250000
398,2018-03-01,"1,324.70",201803,111.302273,1.51,256.388,25024.039063,25449.150391,23509.060547,24103.109375,24103.109375,8873040000
399,2018-04-01,"1,334.70",201804,111.415714,1.69,256.969,24076.599609,24858.970703,23344.519531,24163.150391,24163.150391,8064550000
400,2018-05-01,"1,303.00",201805,114.194348,1.70,257.907,24117.289063,25086.490234,23531.310547,24415.839844,24415.839844,7278020000
401,2018-06-01,"1,281.60",201806,115.563333,1.82,258.710,24542.089844,25402.830078,23997.210938,24271.410156,24271.410156,7411110000
402,2018-07-01,"1,238.50",201807,116.234091,1.91,259.268,24161.529297,25587.240234,24077.560547,25415.189453,25415.189453,5408500000
403,2018-08-01,"1,201.30",201808,116.681304,1.91,259.884,25461.630859,26167.939453,24965.769531,25964.820313,25964.820313,5635410000
404,2018-09-01,"1,198.50",201809,116.264500,1.95,259.941,25916.070313,26769.160156,25754.320313,26458.310547,26458.310547,5262500000
405,2018-10-01,"1,215.40",201810,117.229565,2.19,260.268,26598.359375,26951.810547,24122.230469,25115.759766,25115.759766,8373350000
406,2018-11-01,"1,221.00",201811,118.107273,2.20,260.473,25142.080078,26277.820313,24268.740234,25538.460938,25538.460938,7226940000
407,2018-12-01,"1,247.90",201812,118.441905,2.27,261.360,25779.570313,25980.210938,21712.529297,23327.460938,23327.460938,8101540000
408,2019-01-01,"1,291.80",201901,117.455217,2.40,262.284,23058.609375,25109.619141,22638.410156,24999.669922,24999.669922,7189200000
409,2019-02-01,"1,320.10",201902,117.676500,2.40,263.057,25025.310547,26241.419922,24883.039063,25916.000000,25916.000000,5434540000
410,2019-03-01,"1,300.90",201903,118.305238,2.41,263.886,26019.669922,26155.980469,25208.000000,25928.679688,25928.679688,6637700000
411,2019-04-01,"1,286.40",201904,118.825000,2.42,264.452,26075.099609,26695.960938,26062.589844,26592.910156,26592.910156,5854600000
412,2019-05-01,"1,284.00",201905,119.594783,2.39,265.137,26639.060547,26689.390625,24809.509766,24815.039063,24815.039063,6358230000
413,2019-06-01,"1,359.00",201906,118.444000,2.38,266.461,24830.160156,26907.369141,24680.570313,26599.960938,26599.960938,5544390000
414,2019-07-01,"1,413.00",201907,118.413913,2.40,267.101,26805.859375,27398.679688,26616.210938,26864.269531,26864.269531,5207470000
415,2019-08-01,"1,498.80",201908,119.455000,2.13,267.263,26879.859375,27175.589844,25339.599609,26403.279297,26403.279297,8170730000